.input_area {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    /* height: ; */
    width: calc(100vw - 40px);
    max-width: 900px;
    background-color: rgb(243, 234, 204);
    padding: 10px 20px 10px 20px;
    z-index: -10;
}
.input_box{
    width: 100%;
    max-width: 700px;
    display: flex;
    
}
.input_item{
    padding: 10px;
    position: relative;
}
.input_item label{
    color: rgb(187, 121, 0);
    font-size: 30px;

}
.input_box input[type="text"]{
    flex: 6;
    height: 30px;
    border-radius: 5px;

}

.url_item .input_box input[type="text"]{
    height: 20px;

}
.input_box [type="file"]{
    flex: 2;
}
.input_box textarea{
    resize: none;
    flex: 1;
    /* width: 100%; */
    height: 60px;
    border-radius: 5px;
}
.input_item button{
    width: 120px;
    height: 60px;
    border-radius: 20px;
    font-size: 25px;
    box-shadow: 3px 5px rgb(136, 132, 132);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.text_item{
    height: 80px;

}
.loadding_page {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 150px;
    height: 30px;
    background-color: #aaa;
    border-radius: 10px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 20px;
    display: none;

    }
    input[type="text"]{
        font-size: 100%;
    }
    .hint_page{
        display: none;
    }
@media screen and (min-width: 920px){
    .input_item{
        padding: 20px;
    }
    .input_box{
        display: inline;
        position: absolute;
        left: 30%;
    }
    
    .input_box input[type="text"]{
        width: 80%;
    }
    .img_item .input_box input[type="text"]{
        width: 60%;
    }
    .input_box input[type="file"]{
        width: 20%;
    }
    .input_box textarea{
        width: 80%;
    }
    .text_item{
    height: 50px;

    }
    .input_item label{
        font-size: 25px;
    }
    .url_item .input_box input[type="text"]{
        height: 30px;
    }
    
    .loadding_page {
    position: absolute;
    top: 150px;
    right: 20px;
    width: 250px;
    height: 250px;
    background-color: #aaa;
    border-radius: 80px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 40px;
    display: none;

    }
}
