<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>午餐吃啥?</title>
    <script src="../static/script/jquery3.6.0.js"></script>
    <!-- <script src="../static/script/script.js"></script> -->
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/header.css">
</head>

<body>
    <div class="header">
        <input type="checkbox" id="menu_control">
        <h1>今天午餐吃啥？</h1>
        <label class="menuBtn" for="menu_control"></label>
        <nav>
            <a href="https://fooder.csiejar.xyz/">首頁</a>
            <a href="https://fooder.csiejar.xyz/add_restaurant">增加餐廳清單</a>
            <a href="">link</a>
            <a href="">link</a>
        </nav>
    </div>
  <style>
    #restaurant_title span{
      display:inline;
    }
  </style>
    <div class="content">
        <input type="radio" id="first_time_click">
        <div class="show_page">
            
            <h1 id="restaurant_title">{{restaurant_title}}#{{restaurant_num}}</h1>
            <img src="{{restaurant_img_url}}" id="view_img">
            <div class="more_information_icons">
                <a href="#check_menu" class="item_icon"><img src="../static/img/menu.png" alt="查看菜單">菜單</a>
                <a href="{{restaurant_googlemap_link}}" class="item_icon" id="restaurant_googlemap_link"><img src="../static/img/google-maps.png"
                        alt="google map link">出發</a>
                <a href="#prefer_dish" class="item_icon"><img src="../static/img/love.png" alt="推薦菜色">推薦</a>
            </div>
        </div>
        <div class="information_page">
            <hr>
            <div class="check_menu_page">
                <h1 id="check_menu">菜單</h1>
                <img src="{{menu_img_url}}" alt="菜單圖片">
                <p id="menu_text">{{menu_text}}</p>
            </div>
            <div class="prefer_dish_page">
                <h1 id="prefer_dish">推薦菜色</h1>
                <img src="{{prefer_dish_img_url}}" alt="推薦圖片">
                <p id="prefer_dish_text">{{prefer_dish_text}}</p>
            </div>
        </div>
    </div>
</body>

</html>